<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expired Link</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto flex flex-col justify-center h-screen">
    <h1 class="text-center text-3xl font-bold">Oops! Verification link has expired. Please try again!</h1>
    <p class="text-center">Please request a new verification link by clicking the button below.</p>
    <a href="/api/v1/auth/resendverification-email" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Request New Link</a>
</div>
</body>
</html>